<h1>Sign Up Below:</h1>
<form method="POST" action='/registrations'
    <label for="user_name">User Name:</label>
    <input type="text" id="name" name="name"/>
    <label for="user_email">User Email:</label>
    <input type="text" id="email" name="email"/>
    <label for="user_password">User Password:</label>
    <input type="text" id="password" name="password"/>
    <input type="submit" value="Sign Up"/>
</form>
